Repository foss42/apidash, pull requests merged in 2025-03, with the labels that each got.

#608 Add ChatBot for API Assistance 
  lib/dashbot/dashbot.dart
  lib/dashbot/features/debug.dart
  lib/dashbot/features/explain.dart
  lib/dashbot/providers/dashbot_providers.dart
  lib/dashbot/services/dashbot_service.dart
  lib/dashbot/widgets/chat_bubble.dart
  lib/dashbot/widgets/content_renderer.dart
  lib/dashbot/widgets/dashbot_widget.dart
  lib/screens/dashboard.dart
  lib/screens/home_page/editor_pane/details_card/response_pane.dart
  pubspec.lock
  pubspec.yaml
Labels: FOSSHack2025

#732 initial idea submisstion sabith fulail API Dash feature improvements
  doc/proposals/2025/gsoc/idea_sabith_fulail_api_dash_feature_improvements.md
Labels: idea/proposal

#719 Draft: API Explorer UI Wireframe
  doc/proposals/2025/gsoc/idea_aakarshgopishetty_api_explorer.md
  doc/proposals/2025/gsoc/images/overview-api-explorer.png
Labels: gsoc25-idea

#711 Idea - AI-Powered Dynamic UI Generator from API Responses
  doc/proposals/2025/gsoc/idea_SyedAbdullah_ai-ui-designer.md
Labels: gsoc25-idea

#720 Update idea_NingWei_AI UI Designer for APIs.md
  doc/proposals/2025/gsoc/idea_NingWei_AI UI Designer for APIs.md
Labels: gsoc25-idea

#728 GSOC draft proposal. API Authentication
  doc/proposals/2025/gsoc/Application_SunilSharma_api_authentication.md
  doc/proposals/2025/gsoc/images/sunil Auth image.png
Labels: gsoc25-proposal

#733 Gsoc_AI_API_EVAL_draft_proposal
  doc/proposals/2025/gsoc/application_harsh_panchal_AI_API_EVAL.md
  doc/proposals/2025/gsoc/images/AI_API_EVAL_Dashboard_1.png
  doc/proposals/2025/gsoc/images/AI_API_EVAL_Dashboard_2.png
  doc/proposals/2025/gsoc/images/AI_API_EVAL_result.png
Labels: gsoc25-idea

#738 Pull Request: Initial Draft Proposal for GSOC 2025 - API Testing Suite Implementation
  doc/proposals/2025/gsoc/application_MohitKumarSingh_API-testing-suite-workflow.md
  doc/proposals/2025/gsoc/images/API_testing.jpg
  doc/proposals/2025/gsoc/images/LOAD_TEST.jpg
Labels: gsoc25-proposal

#737 Implement code refactoring for improved readability and maintainability
  doc/proposals/2025/gsoc/images/foss.jpeg
  doc/proposals/2025/gsoc/proposal_RafsanNeloy_Api_Testing_Support.md
Labels: gsoc25-proposal

#731 Ayaan draft proposal
  doc/proposals/2025/gsoc/application_mohammed_ayaan_ai_ui_designer.md
  doc/proposals/2025/gsoc/images/ayaan_mockup.png
Labels: gsoc25-proposal

#739 Application_aviralgarg_ AI-Powered Chatbot for API Management.md
  doc/proposals/2025/gsoc/application_aviralgarg_ AI-Powered Chatbot for API Management.md
Labels: gsoc25-proposal

#741 Initial Draft Proposal for API Explorer
  doc/proposals/2025/gsoc/Application_Chinmay Joshi_API  Explorer.md
Labels: gsoc25-proposal

#745 Create Application_NingWei_AI UI Designer for APIs.md
  doc/proposals/2025/gsoc/Application_NingWei_AI UI Designer for APIs.md
Labels: gsoc25-proposal

#740 Draft proposal
  doc/proposals/2025/gsoc/application_nikhil_apiauth_and_features.md
  doc/proposals/2025/gsoc/templates/gsoc_application_template.md
Labels: gsoc25-proposal

#751 Inital draft proposal for api explorer
  doc/proposals/2025/gsoc/application_pratap_singh_api_explorer.md
  doc/proposals/2025/gsoc/images/apiCatalog_workFlow.png
  doc/proposals/2025/gsoc/images/api_explorer_catalog_workflow_example.png
  doc/proposals/2025/gsoc/images/apiexplorerWorkfloWholeProject.jpg
  doc/proposals/2025/gsoc/images/authexplorerUi (1).png
  doc/proposals/2025/gsoc/images/authexplorerUi (2).png
  doc/proposals/2025/gsoc/images/authexplorerUi (3).png
  doc/proposals/2025/gsoc/images/authexplorerUi (4).png
  doc/proposals/2025/gsoc/images/authexplorerUi (5).png
  doc/proposals/2025/gsoc/images/authexplorerUi (6).png
  doc/proposals/2025/gsoc/images/authexplorerUi (7).png
  doc/proposals/2025/gsoc/images/authexplorerUi (8).png
  doc/proposals/2025/gsoc/images/authexplorerUi (9).png
Labels: gsoc25-proposal
